/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.timeline {
  display: flex;
  flex-direction: row;

  flex-wrap: nowrap; /* content stays on one line */
  overflow-x: auto; /* make scrollable */
  scroll-behavior: smooth;  /* smooth scrolling */
  
  padding: 20px;
  gap: 20px;
}

.timeline-item {
  flex: 0 0 350px; /* prevent items from squishing to fill screen */
  width: 250px;
}

.timeline-item > img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}