/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.timeline {
  scroll-snap-type: x mandatory; /* CSS scroll snap */

  display: flex;
  flex-direction: row;

  flex-wrap: nowrap; /* content stays on one line */
  overflow-x: auto; /* make scrollable */
  scroll-behavior: smooth; /* smooth scrolling */

  padding: 20px;
  gap: 20px;
}

.timeline-item {
  flex: 0 0 350px; /* prevent items from squishing to fill screen */
  width: 250px;
  padding: 0;
}

.timeline-item > img {
  width: 100%;
  height: 81%;
  border-radius: 15px; /* rounded corners */
  margin-top: 15px;
  object-fit: cover; /* don't stretch image if aspect ratios vary */
}

/* #0068B5 = Intel Blue! */

.timeline-item {
  flex: 0 0 350px;
  width: 250px;
  padding: 20px;
  border: 2px solid #0068b5;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* basic shadow */

  scroll-snap-align: center;
}

.timeline-item:hover {
  transform: translateY(-10px); /* lift item up slightly */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* darker shadow */
  border-color: #111;
  cursor: pointer;
}

.logo {
  width: 20%;
}

header {
  background-color: #00467c;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.timeline-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #555;
}

@media (max-width: 768px) {
  /* on phone/thin screens, scroll downwards */
  .timeline {
    flex-direction: column;
    align-items: center;
  }

  .timeline-item {
    width: 80%;
    max-width: 400px;
  }
}

.timeline-item p {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 104, 181, 0.9); /* Intel Blue with transparency */
  color: white;
  padding: 20px;
  box-sizing: border-box; /* ensure padding doesn't break width */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  opacity: 0;
  z-index: 2; /* place above image */
}

.timeline-item:hover p {
  opacity: 1; /* make visible on hover */
  transform: translateY(0);
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
